@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aplikacija sa informacijama vakcinisanih pacjenata  </h1>
    <p><a asp-controller="Patient" asp-action="List">Link</a></p>
</div>
