@model Patient

<form asp-action="Edit" method="post" class="form-horizontal" role="form">

    <div asp-validation-summary="All" class="text-danger"></div>
    
    <input hidden asp-for="PatientId" />

    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="JMBG" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="JMBG" class="form-control" />
            <span asp-validation-for="JMBG" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="VaccineId" class="col-md-2 control-label">
        </label>
        <div class="col-md-5">
            <select asp-for="VaccineId" name="vaccineId">
                <option value=1>AstraZeneca</option>
                <option value=2>Pfizer-BioNTech</option>
                <option value=3>Moderna</option>
            </select>
            <span asp-validation-for="VaccineId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="FirstDateV" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="FirstDateV" class="form-control" />
            <span asp-validation-for="FirstDateV" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FirstSerialNumber" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="FirstSerialNumber" class="form-control" />
            <span asp-validation-for="FirstSerialNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="SecondDateV" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="SecondDateV" class="form-control" />
            <span asp-validation-for="SecondDateV" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="SecondSerialNumber" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="SecondSerialNumber" class="form-control" />
            <span asp-validation-for="SecondSerialNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="VaccinatedInBiH" class="col-md-2 form-check-label"></label>
        <div class="col-md-5">
            <input asp-for="VaccinatedInBiH" class="form-check-input" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Mail" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Mail" class="form-control" />
            <span asp-validation-for="Mail" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Sacuvaj" />
        </div>
    </div>



</form>

<div>
    <a asp-action="List">Nazad</a>
</div>
